{% comment %}
*  This loops through the paginated posts
*
*  Total exercices: {{ paginator.total_posts }}
*  Total paginate-pages: {{ paginator.total_pages }}
*
{% endcomment %}


{% for exercice in paginator.exercicess %}
  <div class="row">
    <div class="small-12 columns b60">
      <p class="subheadline"><span class="subheader">{% if exercice.categories %}{{ exercice.categories | join: ' &middot; ' }}{% endif %}</span> – {% if exercice.subheadline %}{{ exercice.subheadline }}{% endif %}</p>
      <h2><a href="{{ site.url }}{{ exercice.url }}">{{ exercice.title }}</a></h2>
      <p>
        {% if exercice.image.thumb %}<a href="{{ site.url }}{{ exercice.url }}" title="{{ exercice.title escape_once }}"><img src="{{ site.urlimg }}{{ exercice.image.thumb }}" class="alignleft" width="150" height="150" alt="{{ page.title escape_once }}"></a>{% endif %}

        {% if exercice.meta_description %}{{ exercice.meta_description | strip_html | escape }}{% elsif exercice.teaser %}{{ exercice.teaser | strip_html | escape }}{% endif %}

        <a href="{{ site.url }}{{ exercice.url }}" title="{{ site.data.language.read }} {{ exercice.title escape_once }}"><strong>{{ site.data.language.read_more }}</strong></a>
      </p>
    </div><!-- /.small-12.columns -->
  </div><!-- /.row -->
{% endfor %}


<nav id="pagination">
    {% if paginator.previous_page %}
      {% if paginator.previous_page == 1 %}
      <a class="radius button small" href="{{ site.url }}/exercices/" title="{{ site.data.language.previous_posts }}">&laquo; {{ site.data.language.previous_posts }}</a>
      {% else %}
      <a class="radius button small" href="{{ site.url }}/exercices/page{{ paginator.previous_page }}/" title="{{ site.data.language.previous_posts }}">&laquo; {{ site.data.language.previous }}</a>
      {% endif %}
    {% endif %}

    <a class="radius button small" href="{{ site.url }}/exercices/list/" title="{{ site.data.language.exercices_list }}">{{ site.data.language.exercices_list }}</a>

    {% if paginator.next_page %}
    <a class="radius button small" href="{{ site.url }}/exercices/page{{ paginator.next_page }}/" title="{{ site.data.language.next_exercices }}">{{ site.data.language.next }} &raquo;</a>
    {% endif %}
  </nav>

