<!-- Pagination links -->
<nav id="pagination">
  {% if paginator.previous_page %}
    <a class="radius button small" href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
  {% else %}
    <span class="radius button small previous">Previous</span>
  {% endif %}
  <span class="page_number">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a class="radius button small" href="{{ paginator.next_page_path }}" class="next">Next</a>
  {% else %}
    <span class="radius button small next">Next</span>
  {% endif %}
</nav>